<!DOCTYPE hmtl>
<html>
    <head>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/base.css">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/modules.css">
        <link rel="stylesheet" href="styles/icons.css">
    </head>
    <body>
        <h1>Search Results</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <% bookInfo.forEach(item => { %>
                <img src="<%= item.img_url %>">
                <li><%= item.title %></li>
                <li><%= item.author %></li>
                <li><%= item.isbn %></li>
                <li><%= item.description %></li>
                <li><%=item.bookshelf %></li>
                <button class="select-book">Select This Book</button>
            <form id="create-form" action="/add" method="post">
                <img src="<%= item.img_url %>">
                <input type="text" name="title" value="<%= item.title %>" required>
                <input type="text" name="author" value="<%= item.author %>" required>
                <input type="text" name="isbn" value="<%= item.isbn %>">
                <textarea name="description" cols="30" rows="5"><%= item.description %>"<textarea/>
                <button type="submit">Add to Database</button>
            </form>
                <% }) %>
        </ul>
    </body>
</html>

