<!DOCTYPE hmtl>
<html>
    <%- include('../../layout/head') %>
    <body>
        <%- include('../../layout/header') %>
        <h1>Search Results</h1>
        <ul>
            <% bookInfo.forEach(item => { %>
            <li class="book-item">
                <h2><%= item.title %></h2>
                <h2><%= item.author %></h2>
                <h3><%= item.isbn %></h3>
                <img src="<%= item.img_url %>" />
                <p><%= item.description %></p>
                <% }) %>
            </li>
        </ul>
    </body>
</html>